@import "./Variables.scss";

.main {
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  max-width: calc(1920px + 92px + 92px);
  padding: 56px 92px 0 92px;
  margin: 0 auto;
}

.main__title {
  @extend %fontH2;
  margin-bottom: 32px;
}

.main__section {
  width: 100%;
  margin-bottom: 124px;
}

.main__copy {
  cursor: pointer;
  width: 56px;
  height: 56px;
  padding: 16px;
  border: 1px solid $gray300;
  background: white url("../Images/copyGray.svg") no-repeat center;
  transition: all 0.2s ease-in-out;

  &:hover, &:active {
    border: 1px solid $primary500;
    background: url("../Images/copyGreen.svg") no-repeat center;
  }
}


// HISTORY


.history {
  width: 100%;
  @extend %flexCenter;
  justify-content: start;
  margin-bottom: 24px;
  user-select: none;
}

.history__nav {
  cursor: pointer;
  @extend %fontClassicTextButton;
  color: $gray500;
}

.history__nav-before {
  color: $black60;
  margin-right: 48px;
  position: relative;

  &::before{
    content: "—";
    position: absolute;
    width: 16px;
    height: 100%;
    top: 50%;
    right: -32px;
    transform: translate(0, -50%);
  }
}


// CONTACTS


.contacts {
  width: 100%;
}

.contacts__title {
  @extend %fontH1;
  margin-bottom: 56px;
}

.contacts__map {
  width: 100%;
  height: 728px;
  position: relative;

  canvas {
    filter: grayscale(1);
  }
}

.contacts__content {
  @extend %flexCenterColumn;
  align-items: start;
  justify-content: start;
  position: absolute;
  width: 554px;
  height: 616px;
  background-color: $gray0;
  padding: 56px;
  top: 56px;
  left: 56px;
  z-index: 1000000;
}

.contacts__content-media{
  display: none;
}

.contacts__content-title {
  @extend %fontH3;
  margin-bottom: 32px;
}

.contacts__content-block {
  width: 100%;
  height: fit-content;
}

.contacts__content-list {
  width: fit-content;
  height: fit-content;
}

.contacts__content-item-title {
  margin-bottom: 8px;
  color: $gray500;
  @extend %fontSubH2;
}

.contacts__content-item {
  color: $gray400;
  @extend %fontClassicText;
}

.contacts__content-phones {
  @extend %flexJustify;
  margin-bottom: 24px;
}

.contacts__content-phones-lists {
  @extend %flexCenter;
  align-items: center;
  justify-content: start;
  width: fit-content;
}

.contacts__content-phones-list {
  margin-right: 32px;
}

.contacts__content-mail {
  @extend %flexJustify;
  margin-bottom: 24px;
}

.contacts__content-address {
  margin-bottom: 24px;
}

.contacts__content-buttons {
  @extend %flexJustify;
  width: 100%;
  height: 56px;
  flex-grow: 1;
}

.buttons__map {
  width: 48%;
  @extend %buttonPadding;
  @extend %fontClassicTextButton;
  color: $primary500;
  background-color: $primary100;
  align-self: end;
  @extend %flexCenter;
  padding: 16px 0;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}

.buttons__call {
  width: 48%;
  @extend %buttonPadding;
  @extend %fontClassicTextButton;
  color: $gray0;
  background-color: $primary500;
  align-self: end;
  @extend %flexCenter;
  padding: 16px 0;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}

.contacts__info {
  position: absolute;
  top: 56px;
  right: 56px;
  width: 30%;
  max-width: 644px;
  padding: $normalPadding;
  z-index: 1000000000;
  background: $gray0;
  @extend %flexCenter;
  align-items: start;

  svg {
    margin-right: 16px;
    width: 24px;
    height: 24px;
  }
}

.contacts__info-media{
  display: none;
}

.contacts__info-text {
  word-break: break-word;
  @extend %fontSmallText;
  color: $gray400;
}


// OFFICE


.office {
  width: 100%;
}

.office__swiper {
  @extend %flexCenter;
  justify-content: start;
  width: 100%;
  margin-bottom: 32px;
}

.swiper__img {
  flex-grow: 1;
  margin: 0 20px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  img {
    width: 100%;
  }
}

.office__control {
  @extend %flexCenter;
  justify-content: start;
}

.control__progress {
  flex-grow: 1;
  height: 8px;
  background: $gray200;
  position: relative;
  margin-right: 64px;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    left: 0;
    top: 0;
    background-color: $primary500;
    z-index: 10000;
  }
}

.control__btns {
  @extend %flexCenter;
  justify-content: start;
  width: fit-content;

  button {
    width: 56px;
    height: 56px;
    padding: 16px;
    background-color: transparent;
  }
}

.control__btns-prev {
  margin-right: 16px;
}

.control__btns-next {
  border: 1px solid $primary500;
}


// TEAM

.team {
  width: 100%;
}

.team__head {
  @extend %flexJustify;
  align-items: start;
  margin-bottom: 32px;
}

.team__title {
  margin-bottom: 0;
}

.team__description {
  width: 780px;
  word-break: break-word;
  @extend %fontLargeText;
  margin-bottom: 41px;
}

.team__swiper {
  @extend %flexCenter;
  justify-content: start;
}

.team__person {
  flex-grow: 1;
  margin: 0 20px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.person__image {
  @extend %flexCenter;
  align-items: end;
  padding: 40px 40px 0;
  //width: 100%;
  background-color: $gray100;

  img{
    //width: 100%;
    //object-fit: contain;
  }
}

.person__info {
  padding: 24px $normalPadding;
  border: 1px solid $gray300;
  border-top: none;
}

.person__name {
  @extend %fontSubH2;
  margin-bottom: 8px;
}

.person__surname {
  @extend %fontSubH2;
}

.person__jobTitle {
  @extend %fontSmallText;
}

.team__progress{
  display: none;
}

// REQUISITES


.requisites {
}

.requisites__head {
  width: 100%;
  @extend %flexJustify;
  align-items: start;
  margin-bottom: 56px;
}

.requisites__head-left {
  width: 67%;
}

.requisites__title {

}

.requisites__description {
  @extend %fontLargeText;
  color: $gray400;
}

.requisites__head-right {
  width: 27%;
  padding: 24px $normalPadding 24px 24px;
  background-color: $gray100;
  @extend %flexCenter;
  justify-content: start;
}

.head__right-download {
  width: 56px;
  height: 56px;
  padding: 16px;
  background: $primary100 url("../Images/downloadIcon.svg") no-repeat center;
  margin-right: 24px;
}

.head__right-list {

}

.head__right-item-title {
  @extend %fontSubH1;
  color: $gray500;
  margin-bottom: 8px;
}

.head__right-item {
  color: $gray400;
  @extend %fontClassicText;
}

.requisites__media-download{
  display: none;
}

.requisites__table {
  width: 67%;
  border-spacing: 0;
}

.table__head {
}

.table__body {
}

.table__tr {
  transition: all 0.2s ease-in-out;

  &:hover, &:active{
    background-color: $gray100;
  }
}

.table__copy{
  @extend %flexJustify;
}

.table__td {
  padding: 16px $normalPadding;
  border: 1px solid $gray300;

  &:first-child {
    border-right: none;
    @extend %fontSubH2;
    color: $gray500;
  }

  &:last-child {
    @extend %fontClassicText;
    color: $gray500;
  }
}